
{% extends 'base.html' %}
{% block body %}

  <div class="jumbotron rounded">
    <div class='row mt-5'>
      <div class='col-4 mx-auto'>
        <h4 class='text-center'>User Registration</h4><hr>

        <form action="{{url_for('reg')}}" method='post'>
          <div class='form-group'>
            <label>Nick Name</label>
            <input type='text' name='uname' required class='form-control'>  
          </div>

          <div class='form-group'>
            <label>Email</label>
            <input type='email' name='email' required class='form-control'>  
          </div>

          <div class='form-group'>
            <label>Password</label>
            <input type='password' name='upass' required class='form-control'>  
          </div>

          <center>
            <input type='submit' name='submit' value='Submit' class='btn btn-success'>
          </center>
        </form>

        <br><br>
        <label>Account already exist ?</label>
        <br>
        <a href="/login">login here</a>

      </div>
    </div>
  </div>

<br><br>
{% endblock %}
