<html>
<head> Click me </head>
<body>
  <br>
    <a href="{{url_for('target')}}">redirect</a>
    <br><br>

    <div>
      <video controls>
        <source src="https://lh3.googleusercontent.com/ikbZW42wWuz2boR4L5R1kt7RYHVgpAaw1e5ZiRNstf-uBJh-NmYHL6UmIzYY3a01D34bs1hAQEexg07--YTmIkS_R-DzRK6Y-1eZ-qsVAVLQ5XWJt1DD1gSIQTKOXFw9tPS-IQcK5g=m18" type="video/mp4">
      </video>
    </div>

    <br><br>

    <iframe
            src="https://www.youtube.com/embed/Xm-hdblSa9E"
            frameborder="0"
            width="720" height="405"
            allow="autoplay; encrypted-media" allowfullscreen>
    </iframe>

    <br><br>
    <iframe src="https://drive.google.com/file/d/13DLnrH6dnm-AGRcL-eUwtLO7LXa4dI7Txg/preview"
    width="640" height="480" allow="autoplay"></iframe>

    <iframe src="https://drive.google.com/file/d/1Yf6-9uiDqoog2Ao603vbpRFOde8KNj1h/preview"
    width="640" height="480" allow="autoplay"></iframe>

</body>
</html>
