<!DOCTYPE html>
<html>

<head>
	<title>
		Google Maps | Types
	</title>

	<!-- Add Google map API source -->
	<script src =
		"https://maps.googleapis.com/maps/api/js">
	</script>

	<script>
		function GFG() {
			var CustomOp = {
				center:new google.maps.LatLng(
						26.573830, 75.714401),
				zoom:17,
				mapTypeId:google.maps.MapTypeId.HYBRID
			};

			// Map object
			var map = new google.maps.Map(
				document.getElementById("DivID"),
				CustomOp
			);
		}
	</script>
</head>

<!-- Function that execute when page load -->
<body onload = "GFG()">
	<center>
		<h1 style="color:green">
			GeeksforGeeks
		</h1>

		<h3>Google Maps</h3>

		<!-- Basic Container -->
		<div id = "DivID" style =
			"width:400px; height:300px;">
		</div>
	</center>
</body>

</html>
