{% extends "base.html"%}
{% block content %}

<div class="jumbotron rounded">
  <div class="container">
    <center>

      <div class="alert alert-primary" role="alert">
        <a href="{{url_for('news')}}">
          <h1>Error 404 !!!</h1>
        </a>
      </div>

    </center>
  </div>
</div>

<div class="jumbotron jumbotron-fluid rounded">
  <div class="container">

    <center>
      <div class="card">

        <a href="{{url_for('news')}}">
          <img src="../static/error404.gif" class="card-img" alt="...">
        </a>

        <div class="card-body">
          <h2><p class="card-text">
            <a href="{{url_for('news')}}">
              Sorry, we couldn't find the page, <br> you were looking for !!!
            </a>
          </p></h2>
        </div>

      </div>
    </center>

  </div>
</div>

{% endblock %}
