{% extends "base.html"%}
{% block content %}


<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <center>
      <div class="card">

        <a href="{{url_for('news')}}">
          <img src="../static/screenshots/error404.gif" class="card-img" alt="...">
        </a>

        <div class="card-body">
          <p class="card-text">
            <a href="{{url_for('contact')}}">

              <h1 style="color:red;">
                <strong>
                  Sorry, we couldn't find the page,
                  <br><br>
                  <em style="color:red;">you were looking for !!!</em>
                </strong>
              </h1>

              <!-- Sorry, we couldn't find the page, <br> you were looking for !!! -->
            </a>
          </p>
        </div>

      </div>
    </center>

  </div>
</div>


<div class="jumbotron">
  <div class="container">
    <center>

      <!-- <a href="{{url_for('contact')}}">
        <h1>Error 404 !!!</h1>
      </a> -->

      <div class="alert alert-primary" role="alert">
        <a href="https://api.whatsapp.com/send?phone=918239957923&text=What%20is%20%27heroku%20logs%20-t%20-a%20imvickykumar999%27%20command ?">
          <h1 style="color:green;">
            <strong>
              heroku logs -t -a imvickykumar999
            </strong>
          </h1>
        </a>
        <br><br>

        <a href="/news">
          <!-- <h1>Error 404 !!!</h1> -->
          <h1 style="color:red;">
            <strong>
              Error 404 !!!
              <br>Page not found.
              <br><br>
              <em style="color:blue;">
                {{message}}
              </em>
            </strong>
          </h1>
        </a>
      </div>

    </center>
  </div>
</div>

{% endblock %}
