{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->
</head>

<body>

      <div class="jumbotron">
        <div class="container">

          <div class="alert alert-danger" role="alert">
            <center>
              <a href="https://www.linkedin.com/in/riet-jaipur-b34567136/">

                <h1 style="color:red;">
                  <strong>
                    Education
                  </strong>
                </h1>

              </a>
            </center>
          </div>

        </div>
      </div>

          <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
              <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>

            <div class="carousel-inner">
              <!-- class="carousel-inner" -->

              <div class="carousel-item active">
                <a href="https://www.linkedin.com/in/riet-jaipur-b34567136/">
                  <img src="../static/screenshots/riet.png" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block"></div>

                <div class="jumbotron">
                  <div class="container">

                    <center>
                      <h2>
                        <a href="https://www.linkedin.com/in/riet-jaipur-b34567136/">
                          <span style="background-color:LightBlue">

                            <strong>College</strong>
                          </span>
                        </a>
                      </h2>

                      <br>
                      <em>
                        <h3>
                          <p>
                            Rajasthan Institute of Engineering and Technology, Jaipur <br>
                            From 2018 to 2022 <br><br>
                            Maintaining above 8.5 SGPA in every
                            semester of college academic.
                           </p>
                         </h3>
                      </em>
                    </center>

                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <a href="https://navodaya.gov.in/nvs/nvs-school/GBNAGAR/en/about_us/About-JNV/">
                  <img src="../static/screenshots/jnv.png" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block"></div>

                <div class="jumbotron">
                  <div class="container">

                    <center>
                      <h2>
                        <a href="https://www.linkedin.com/company/jawahar-navodaya-vidyalaya-jnv-nvs/">
                          <span style="background-color:LightBlue">

                            <strong>High School</strong>
                          </span>
                        </a>
                      </h2>

                      <br>
                      <em>
                        <h3>
                          <p>
                            Jawahar Navodaya Vidyalaya, Gautam Budh Nagar <br>
                            From 2013 to 2017 <br><br>
                            The High School was mainly focus on the basis of
                            English Litrature and Computer Science. <br><br>
                            There was also a good base on Physics,
                            Mathematics and Chemistry.
                          </p>
                        </h3>
                      </em>
                    </center>

                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <a href="https://www.justdial.com/Delhi/S-D-Vidya-School-Kothari-Innternational-School-Barola-Noida-Sector-49/011PXX11-XX11-160317133341-L5M1_BZDET">
                  <img src="../static/screenshots/sd.png" class="d-block w-100" alt="...">
                </a>
                <div class="carousel-caption d-none d-md-block"></div>

                <div class="jumbotron">
                  <div class="container">

                    <center>
                      <h2>
                        <a href="https://www.justdial.com/Delhi/S-D-Vidya-School-Kothari-Innternational-School-Barola-Noida-Sector-49/011PXX11-XX11-160317133341-L5M1_BZDET">
                          <span style="background-color:LightBlue">

                            <strong>Junior School</strong>
                          </span>
                        </a>
                      </h2>

                      <br>
                      <em>
                        <h3>
                          <p>
                            Sanathan Dharam Vidya Mandir School, Noida <br>
                            From 2010 to 2013 <br><br>
                            The Secondary aims at Maths , English , Science,
                            Social Science, Literature and Music.
                           </p>
                         </h3>
                      </em>
                    </center>

                  </div>
                </div>
              </div>

            </div>
            <!-- class="carousel-inner" -->

            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>

          </div>


<!-- ======================================== -->

  <div class="jumbotron jumbotron-fluid">
    <div class="container">

      <div class="alert alert-danger" role="alert">
        <h1><center><strong><em>About</em></strong></center></h1>
      </div>

        <div class="alert alert-warning" role="alert">
          <a href="https://www.linkedin.com/in/vicky-kumar-433542190">
            <h3>
              <br>
              Lover of innovation and everything related to generate new knowledge, and not only that, but share it with the community.
              <br><br>
                Face problems with a smile and solve them as soon as possible. Excellent interpersonal relationships.
              <br><br>
              Believer that when problems arise the team should focus on finding a solution, instead of blame someone.

            </h3>
          </a>
        </div>

      </div>
    </div>

</body>
</html>

{% endblock %}
