{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->
</head>
<body>


    <div class="jumbotron">
      <div class="container">

      <div class="row row-cols-1 row-cols-md-4">

        <div class="col mb-4">
          <div class="card">

            <a href="https://www.youtube.com/channel/UCCCMOhooI8821rauAVZQwbA">
              <img src="../static/logo/youtube1.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>YouTube <br><br> Official</center></h5>
            </div>

          </div>
        </div>

        <div class="col mb-4">
          <div class="card">

            <a href="https://www.linkedin.com/in/vicky-kumar-433542190">
              <img src="../static/logo/linkedin.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>Medium</center></h5>
            </div>

          </div>
        </div>

        <div class="col mb-4">
          <div class="card">

            <a href="https://twitter.com/Vickyku27424662">
              <img src="../static/logo/twitter.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>Twitter</center></h5>
            </div>

          </div>
        </div>

        <div class="col mb-4">
          <div class="card">

            <a href="https://www.youtube.com/channel/UCWaXTlc-ECnQz4JHKg1KfAw">
              <img src="../static/logo/youtube2.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>YouTube <br> Non-Official</center></h5>
            </div>

          </div>
        </div>

        <div class="col mb-4">
          <div class="card">

            <a href="https://www.yourquote.in/vicky-kumar-bagzz/quotes">
              <img src="../static/logo/yourquote.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>YourQuote</center></h5>
            </div>

          </div>
        </div>

        <div class="col mb-4">
          <div class="card">

            <a href="https://www.sololearn.com/Profile/8044164">
              <img src="../static/logo/sololearn1.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>SoloLearn <br><br> Offilcial</center></h5>
            </div>

          </div>
        </div>

        <div class="col mb-4">
          <div class="card">

            <a href="https://www.sololearn.com/Profile/12699769">
              <img src="../static/logo/sololearn.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>SoloLearn <br> Non-Offilcial</center></h5>
            </div>

          </div>
        </div>

        <div class="col mb-4">
          <div class="card">

            <a href="https://github.com/imvickykumar999">
              <img src="../static/logo/github.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>GitHub</center></h5>
            </div>

          </div>
        </div>

        <div class="col mb-4">
          <div class="card">

            <a href="https://www.instagram.com/oye.vix">
              <img src="../static/logo/instagram1.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>Instagram <br> Private</center></h5>
            </div>

          </div>
        </div>

        <div class="col mb-4">
          <div class="card">

            <a href="https://www.facebook.com/Imvickykumar999">
              <img src="../static/logo/facebook.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>FaceBook</center></h5>
            </div>

          </div>
        </div>

        <div class="col mb-4">
          <div class="card">
            <a href="#">
              <img src="../static/logo/medium.png" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title"><center>Medium</center></h5>
            </div>
          </div>
        </div>

        <div class="col mb-4">
          <div class="card">

            <a href="https://www.instagram.com/imvickykumar999">
              <img src="../static/logo/instagram2.png" class="card-img-top" alt="...">
            </a>

            <div class="card-body">
              <h5 class="card-title"><center>Instagram <br> Public</center></h5>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>


<!-- ========================================================= -->


        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-danger" role="alert">
              <center>

                <h4>
                  <p><br> I'm currently Pursuing B.Tech in CSE at <a href="https://www.rietjaipur.ac.in/" target='_blank'>RIET, Jaipur</a>, but I'm always open to new opportunities that let me help as much as I can on other projects.</p>
                  <p><strong><br><br> I can help with the following:</strong></p>

                    <div class="alert alert-primary" role="alert">
                      Back-end development with Python
                    </div>

                    <div class="alert alert-warning" role="alert">
                      Front-end development with HTML5, CSS, JS
                    </div>

                    <div class="alert alert-primary" role="alert">
                      Flutter / Android Application development <em>(soon)</em>
                    </div>

                    <div class="alert alert-warning" role="alert">
                      Web applications
                    </div>

                    <div class="alert alert-primary" role="alert">
                      Coding in C, C++ and Python Language
                    </div>

                    <div class="alert alert-warning" role="alert">
                      Uploading and Deploy Your Static Code / Website To GitHub
                    </div>

                    <div class="alert alert-primary" role="alert">
                      Uploading Your Dynamic Website To GitHub and Deploy on Heroku
                    </div>

                  <p><strong><br>------------------------------<br>Drop me a line at...<br><br> </strong></p>

                  <div class="alert alert-warning" role="alert">
                    <p><a href="mailto:imvickykumar@gmail.com"> imvickykumar999@gmail.com </a></p>
                  </div>

                  <p><strong>or,</strong></p>

                  <div class="alert alert-warning" role="alert">
                    <p><a href="mailto:hellovickykumar123@gmail.com"> hellovickykumar123@gmail.com </a>,</p>
                  </div>

                  <p><strong><em>Also, you...</em></strong></p>

                  <div class="alert alert-warning" role="alert">
                    <p><br> Call me at : <a href="tel:+918239957923"> +91 8239957923 </a></p>
                  </div>

                  <p><strong>or,</strong></p>

                  <div class="alert alert-warning" role="alert">
                    <p>Whatsapp Chatting : <a href="https://api.whatsapp.com/send?phone=918239957923&text=hi,%20i%20found%20your%20contact%20from%20your%20portfolio%20link&source=&data=&app_absent=" target="_blank"> +91 8239957923 </a></p>
                  </div>

                </h4>
              </center>
            </div>

          </div>
        </div>

</body>
</html>

{% endblock %}
