{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8191146460815779"
         crossorigin="anonymous"></script>
         
  <title>Covid19 Vaccine Slot</title>
</head>

<body>

    <div class="jumbotron jumbotron">
      <div class="alert alert-danger" role="alert">

          <a href="https://github.com/imvickykumar999/imvickykumar999/blob/ab8fdaf02fbd46f4feb600f1da01dd33b62923fb/templates/covid19.html#L59">
            <!-- <h1>
              Playfair Cipher on GitHub
            </h1> -->

            <h1 style="color:red;">
              <strong>
                Covid19 Vaccine<br>Slot via Setu-API
                <br><br>
                <em style="color:green;">See Code on GitHub</em>
              </strong>
            </h1>
          </a>

      </div>
    </div>

    <br>
    <div id="vickscroll">
      {% if scroll %}
      <script>
          document.location.hash = '#' + '{{ scroll }}';
      </script>
      {% endif %}
    </div>
    <!-- scroll='vickscroll', -->

    <br><br>
    <div class="jumbotron jumbotron-fluid">
      <div class="alert alert-success" role="alert">
        <a target="_blank" href="https://home-automation-336c0-default-rtdb.firebaseio.com/Views">
          <h1>
            <strong>
              Page Views = {{pageviews}}
            </strong>
          </h1>
        </a>
      </div>
    </div>

    <br>
    {% if ifsent != 0 %}

      <!-- <div id="output" class="card"> -->
      <div class="jumbotron jumbotron">
        <center>

          <!-- <div class="alert alert-primary" role="alert">
            <a href="/imvickykumar999.xlsx">
              <h1>
                <strong>
                  Download all {{ifsent}}
                  <br>
                  Output Excel File
                </strong>
              </h1>
            </a>
          </div> -->
          <br>

          {% for i in l %}
            <a class="btn btn-warning"
            data-toggle="collapse"
            href="#{{''.join(i['name'].split())}}"
            role="button">

              <h3 style="color:black">
                Click me to see
                <br>
                Detail via Center Name
                <br><br>
                <!-- {{''.join(i['name'].split())}} -->
                {{i['name']}}
              </h3>
            </a>

            <div class="collapse" id="{{''.join(i['name'].split())}}">
              <div class="alert alert-light" role="alert">
                <br>

                <table>
                {% for key, value in i.items() %}
                   <tr>
                      <th>
                        <div class="alert alert-success" role="alert">
                          <h2>{{ key }}</h2>
                        </div>
                      </th>

                      <td>
                        <div class="alert alert-danger" role="alert">
                          <h2>{{ value }}</h2>
                        </div>
                      </td>
                   </tr>
                {% endfor %}
                </table>

              </div>
            </div>
            <br><br><br><br>
          {% endfor %}

        </center>
      </div>
    {% endif %}

    <form method="post" action="/converted_covid19">
      <div class="alert alert-light" role="alert">
      <!-- <div class="jumbotron jumbotron"> -->

        <center>
          <br>

          <div class="alert alert-danger" role="alert">
            <a target="_blank" href="https://www.indiatvnews.com/pincode/">
              <h2>
                <strong>Enter PIN code</strong>
              </h2>
            </a>

            <input type="text" name="pin" placeholder="for example : 302020"/>
            <br><br>
          </div>

          <!-- <div class="alert alert-info" role="alert">
            <h3>
              <strong>Enter Min Age Limit</strong>
            </h3>

            <input type="text" name="age" placeholder="Type... 18 or 45"/>
            <br><br>
          </div> -->

          <br><br>
          <div class="alert alert-warning" role="alert">
            <h3 style="color:red;">
              <strong>Select Switch</strong>
            </h3>

            <br>
            <div class="alert alert-info" role="alert">
              <div class="custom-control custom-radio">
                <input value="18" type="radio" id="audio" name="age" class="form-check-input" checked>
                <label class="form-check-label" for="customRadio1">
                  <h3>Minimum Age Limit 18</h3>
                </label>
              </div>
            </div>

            <div class="alert alert-danger" role="alert">
              <div class="custom-control custom-radio">
                <input value="45" type="radio" id="audio" name="age" class="form-check-input">
                <label class="form-check-label" for="customRadio1">
                  <h3>Minimum Age Limit 45</h3>
                </label>
              </div>
            </div>
          </div>
          <br><br>

          <!-- <div class="alert alert-primary" role="alert">
            <h3>
              <strong>Enter your E-Mail address</strong>
            </h3>

            <input type="text" name="email" placeholder="e.g., hellovickykumar123@gmail.com"/>
            <br><br>
          </div> -->

          <!-- <div class="alert alert-danger" role="alert"> -->
              <!-- <input type="submit" value="Submit"> -->
            <input type="image"
                   src="../static/logo/submit.png"
                   width="200"
                   height="60"
                   alt="submit"/>
          <!-- </div> -->

        </center>
      </div>

    <br><br>
  </form>

</body>
</html>

{% endblock %}
