{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<html lang="en" dir="ltr">

<head>
  <title>Vicky's Resume</title>
</head>

<body>

        <div class="jumbotron">
          <div class="container">

            <div class="alert alert-danger" role="alert">
              <center>
                <a href="https://github.com/imvickykumar999/vicks-news/">

                  <h1 style="color:red;">
                    <strong>
                      Vicks News Projects on...
                      <br>
                      <em style="color:green;">GitHub</em>
                    </strong>
                  </h1>

                </a>
              </center>

            </div>
          </div>
        </div>


        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="row row-cols-1 row-cols-md-2">

<!-- 1st card -->
              <div class="col mb-4">
                <div class="card">
                  <a href="https://www.linkedin.com/feed/update/urn:li:activity:6689137700320108544/">
                    <img src="../static/screenshots/funny face.png" class="card-img-top" alt="Funny Face">
                  </a>
                  <div class="card-body">
                    <center>
                      <h3 style="color:red;" class="card-title">Funny Face</h3>
                      <br>
                      <p class="card-text"><strong>Funny Face Project is coded using OpenCV, using 2D projection of 3D Plane Equation on Camera Image. Plane curves also include the Jordan curves (curves that enclose a region of the plane but need not be smooth) and the graphs of continuous functions.</strong></p>
                      <br>
                      <a href="https://www.linkedin.com/feed/update/urn:li:activity:6689137700320108544/" class="btn btn-primary">Funny Face</a>
                    </center>
                  </div>
                </div>
              </div>

<!-- 2 -->
              <div class="col mb-4">
                <div class="card">
                  <a href="https://www.linkedin.com/feed/update/urn:li:activity:6686888165464145920/">
                    <img src="../static/screenshots/instagrid.png" class="card-img-top" alt="Instagram Grid Maker">
                  </a>
                  <div class="card-body">
                    <center>
                      <h3 style="color:red;" class="card-title">Instagram Grid Maker</h3>
                      <br>
                      <p class="card-text"><strong>It accepts a image, finds minimum dimension, crops central part of image, asks for n*n grid, splits image into n*n individual photos, then login to account and a for loop is run to upload photos in a manner last upload first to look complete image as one ;)</strong></p>
                      <br>
                      <a href="https://www.linkedin.com/feed/update/urn:li:activity:6686888165464145920/" class="btn btn-primary">Instagram Grid Maker</a>
                    </center>
                  </div>
                </div>
              </div>

<!-- 3 -->
              <div class="col mb-4">
                <div class="card">
                  <a href="https://www.linkedin.com/feed/update/urn:li:activity:6663829047774187520/">
                    <img src="../static/screenshots/mnist.png" class="card-img-top" alt="MNIST-SCANNER">
                  </a>
                  <div class="card-body">
                    <center>
                      <h3 style="color:red;" class="card-title">MNIST-SCANNER</h3>
                      <br>
                      <p class="card-text"><strong>This Project can Sense Image using Camera and read number written. OpenCV is used to capture image. Machine Learning Algorithm called Keras is used to train Numbers in photo format.</strong></p>
                      <br>
                      <a href="https://www.linkedin.com/feed/update/urn:li:activity:6663829047774187520/" class="btn btn-primary">MNIST-SCANNER</a>
                    </center>
                  </div>
                </div>
              </div>

            <!-- </div> -->
            <!-- class="row row-cols-1 row-cols-md-2 -->


            <!-- <div class="row row-cols-2 row-cols-md-3"> -->

<!-- 4 -->
              <div class="col mb-4">
                <div class="card">
                  <a href="https://www.linkedin.com/feed/update/urn:li:activity:6669916565254868992/">
                    <img src="../static/screenshots/virtual mouse.png" class="card-img-top" alt="Virtual-Mouse">
                  </a>
                  <div class="card-body">
                    <center>
                      <h3 style="color:red;" class="card-title">Virtual-Mouse</h3>
                      <br>
                      <p class="card-text"><strong>Virtual-Mouse is a project which controls mouse arrow virtually. Mid-point of two green pointer is position of mouse arrow on desktop. When distance between two green pointer is zero left button of mouse is clicked, and released after it becomes non-zero. Also I have taken reference for this project from udemy.</strong></p>
                      <br>
                      <a href="https://www.linkedin.com/feed/update/urn:li:activity:6669916565254868992/" class="btn btn-primary">Virtual-Mouse</a>
                    </center>
                  </div>
                </div>
              </div>

<!-- 5 -->
              <div class="col mb-4">
                <div class="card">
                  <a href="https://www.linkedin.com/feed/update/urn:li:activity:6669185585778966528/">
                    <img src="../static/screenshots/chatting.png" class="card-img-top" alt="Chatting Socket">
                  </a>
                  <div class="card-body">
                    <center>
                      <h3 style="color:red;" class="card-title">Chatting Socket</h3>
                      <br>
                      <p class="card-text"><strong>( Both PC must be connected with Mobile Hotspot.... ) First run server.py in cmd of PC1 and it will show device IP in first line, then, run client.py in cmd of PC2 and it will ask for IP, just fill IP which is shown in cmd of server.py, then your Nickname, and you are now Connected to start Chatting. Both, server.py and client.py files can be run on same Laptop too.... no problem !!!</strong></p>
                      <br>
                      <a href="https://www.linkedin.com/feed/update/urn:li:activity:6669185585778966528/" class="btn btn-primary">Chatting Socket</a>
                    </center>
                  </div>
                </div>
              </div>

<!-- 6 -->
              <div class="col mb-4">
                <div class="card">
                  <a href="https://www.linkedin.com/feed/update/urn:li:activity:6649993470331191296/">
                    <img src="../static/screenshots/invisible cloak.png" class="card-img-top" alt="Invisibility Cloak">
                  </a>
                  <div class="card-body">
                    <center>
                      <h3 style="color:red;" class="card-title">Invisibility Cloak</h3>
                      <br>
                      <p class="card-text"><strong>‘Invisibility Cloak’ using simple computer vision techniques in OpenCV. Here we have written this code in Python because it provides exhaustive and sufficient library to build this program. Here, we will create this magical experience using an image processing technique called Color detection and segmentation..</strong></p>
                      <br>
                      <a href="https://www.linkedin.com/feed/update/urn:li:activity:6649993470331191296/" class="btn btn-primary">Invisibility Cloak</a>
                    </center>
                  </div>
                </div>
              </div>

            </div>
            <!-- class="row row-cols-1 row-cols-md-2 -->

          </div>
        </div>

  <!-- ----------------------------------------------------------- -->

</body>
</html>

{% endblock %}
