{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <!-- <meta http-equiv="refresh" content="10" /> -->

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8191146460815779"
     crossorigin="anonymous"></script>

    <title>Vicks News</title>
  </head>

  <body>

    <div class="jumbotron">
      <div class="container">

        <div class="alert alert-danger" role="alert">

          <center>
            <!-- <a href="https://inshorts.com/en/read"> -->
            <a target="_blank" href="https://github.com/imvickykumar999/hackathon-iot-car-parking/blob/main/esp32_led/esp32_led.ino">
              <h1 style="color:red;">
                <strong>
                  IOT Car Parking System
                  <br>
                  Using IR Sensor
                  <br><br>
                  <em style="color:green;">See Code on GitHub</em>
                </strong>
              </h1>
            </a>
          </center>

        </div>
      </div>
    </div>

    <div class="jumbotron jumbotron">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">

        <div class="row row-cols-1 row-cols-md-2">

          {%for x in range(0, len)%}

              <div class="col mb-4">
                <div class="card">

                  <a href={{img[x]}}>
                    <!-- <img src="../static/news/_0.jpg" class="card-img-top" alt="0"> -->
                    <img src={{img[x]}} class="card-img-top">
                  </a>

                  <div class="card">
                    <center>

                      {% if data[x] == '1' %}

                      <h1 style="color:red;" class="card-title">Slot number : {{x+1}}</h1>
                      <br>
                        <h3>
                          <p class="card-text">Car Number Plate : {{car[x]}}</p>
                        </h3>
                      <br>

                          <a href="{{img[x]}}" class="btn btn-primary">PRESENT</a>
                      {% else %}

                      <h1 style="color:red;" class="card-title">Slot number : {{x+1}}</h1>
                      <br>
                        <h3>
                          <p class="card-text">Slot is Vacant</p>
                        </h3>
                      <br>

                          <a href="{{img[x]}}" class="btn btn-primary">ABSENT</a>
                      {% endif %}

                    </center>
                  </div>

                </div>
              </div>

          {% endfor %}

        </div>
      </div>
    </div>
  </div>

  <br><br>
    <div class="jumbotron jumbotron">
      <center>

      <div class="alert alert-primary" role="alert">
        <h1>Presentation</h1>
      </div>

      <br><br>
      <div class="alert alert-danger" role="alert">
          <br><br>
            <iframe
              src="https://drive.google.com/file/d/14mX8hbLvevhvaZHxarMcLM-x4rWgWn8b/preview"
              width="80%" height="645"
              allow="autoplay">
            </iframe>
          <br><br>
        </center>
      </div>
    </div>

  </body>
</html>

{% endblock %}
