{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

    <title>Vick's Map</title>

  	<!-- Add Google map API source -->
  	<script src =
  		"https://maps.googleapis.com/maps/api/js">
  	</script>

  	<script>
  		function GFG() {
  			var CustomOp = {
  				center:new google.maps.LatLng(
  						{{site_json['latt']}}, {{site_json['longt']}}),
  				zoom:17,
  				mapTypeId:google.maps.MapTypeId.HYBRID
  			};

  			// Map object
  			var map = new google.maps.Map(
  				document.getElementById("DivID"),
  				CustomOp
  			);
  		}
  	</script>
  </head>

  <!-- Function that execute when page load -->
  <body onload = "GFG()">
  	<center>

      <div class="jumbotron jumbotron">
        <div class="container">
          <center>

            <form method="post" action="/vicks_maps">
              <div class="alert alert-warning" role="alert">

                <div class="alert alert-primary" role="alert">
                  <h2>
                    <strong>Enter Place Name</strong>
                  </h2>

                  <br>
                  <input type="text" id="result1" name="maps" placeholder="Voice Search"/>
                  <br>
                </div>

                <br>
                <div class="alert alert-success" role="alert">
                  <h5>Click me to <strong>START</strong> speaking...</h5>
                  <button type = "button" onclick="startConverting();">
                    <i class="fa fa-microphone"></i>
                  </button>
                </div>

                <div class="alert alert-danger" role="alert">
                  <h5>Click me to <strong>STOP</strong> speaking...</h5>
                	<button type = "button" onclick="stopConverting();">
                    <i class="fa fa-remove">
                    </i>
                  </button>
                </div>

                <script type="text/javascript">

                  var overlay = document.getElementById("overlay");

                    var r = document.getElementById('result1');
                    var speechRecognizer = new webkitSpeechRecognition();// a new speech recognition object

                    //function to start listening to voice and then convert it to text
                    function startConverting () {
                      if('webkitSpeechRecognition' in window){

                        speechRecognizer.continuous = true;
                        speechRecognizer.interimResults = true;
                        speechRecognizer.lang = 'en-IN';
                        speechRecognizer.start();

                        var finalTranscripts = '';
                        speechRecognizer.onresult = function(event){
                          var interimTranscripts = '';

                          for(var i = event.resultIndex; i < event.results.length; i++){
                            var transcript = event.results[i][0].transcript;
                            transcript.replace("\n", "<br>");

                            if(event.results[i].isFinal){
                              finalTranscripts += transcript;
                            }

                            else{
                              interimTranscripts += transcript;
                            }
                          }
                          r.value = finalTranscripts + interimTranscripts ;
                        };
                        speechRecognizer.onerror = function (event) {
                        };
                      }

                      else{
                        r.innerHTML = 'No browser support. Please upgrade your browser';
                      }
                    }

                    //function to stop listening
                    function stopConverting()
                    {
                      speechRecognizer.stop();
                    }

                  </script>

                <br>
                <!-- <div class="alert alert-success" role="alert"> -->
                  <input type="image"
                         src="../static/logo/submit.png"
                         width="200"
                         height="60"
                         alt="submit"/>
              </div>
            </form>

          </center>
        </div>
      </div>

  		<!-- <h3>Vick's Maps</h3> -->

      <br>
      <div id="vickscroll">
        {% if scroll %}
        <script>
            document.location.hash = '#' + '{{ scroll }}';
        </script>
        {% endif %}
      </div>
      <br>

      <div class="jumbotron jumbotron-fluid">
        <div class="jumbotron jumbotron">
          <div class="container">

        		<h1 style="color:blue">
        			<strong>Vick's Maps</strong>
        		</h1>
            <br>

            <div class="alert alert-warning" role="alert">
              <h2 style="color:red">
                <em>Geographical Coordinates</em>

                <br><br>
                (
                 {{site_json['latt']}},
                 {{site_json['longt']}}
                 )
              </h2>
            </div>

            <br>
            {% if check != 'error' %}

              <div id = "DivID" style =
          			"width:640px; height:480px;">
              </div>

            {% endif %}

            <br><br>
            <div class="alert alert-danger" role="alert">

              <table>
              {% for key, value in tablejson.items() %}
                 <tr>
                    <th>
                      <div class="alert alert-primary" role="alert">
                        <h1>{{ key }}</h1>
                      </div>
                    </th>

                    <td>
                      <div class="alert alert-success" role="alert">
                        <h1>{{ value }}</h1>
                      </div>
                    </td>
                 </tr>
              {% endfor %}
              </table>

            </div>
          </div>

        </div>
      </div>

  	</center>
  </body>
</html>

{% endblock %}
