{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8191146460815779"
         crossorigin="anonymous"></script>

  <title>YouTube Comments</title>
</head>

<body>

  <div class="jumbotron jumbotron">
    <div class="container">
      <center>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-danger" role="alert">
              <a target="_blank" href="https://www.google.com/search?q=sample+mnist+images&sxsrf=AOaemvK8rhQ7A3IWRpHaoR2QU5DpoVpXdQ:1640978318335&source=lnms&tbm=isch&sa=X&ved=2ahUKEwjK-P3N4I71AhUNyDgGHcPtA0cQ_AUoAXoECAEQAw&biw=1536&bih=746&dpr=1.25">
                <h1 style="color:red;">

                  <strong>
                    MNIST SCANNER
                    <br><br>
                    <img src="../static/logo/aimages.png" alt="4">
                    <br><br>
                    <h1>Output : 4</h1>
                  </strong>

                </h1>
              </a>
            </div>

            <br>
            <div class="alert alert-success" role="alert">
              <a target="_blank" href="https://github.com/imvickykumar999/imvickykumar999/blob/1a8e02f1d68f516dbe6c3f3e54401cac98481fd9/vicks/scan.py#L40">
                <h1 style="color:green;">
                  <strong>
                    <em>
                      See Code on GitHub
                    </em>
                  </strong>
                </h1>
              </a>
            </div>

          </div>
        </div>

      </center>
    </div>
  </div>

  <div id="vickscroll">
    {% if scroll %}
    <script>
        document.location.hash = '#' + '{{ scroll }}';
    </script>
    {% endif %}
  </div>

  <br>
  <div class="jumbotron jumbotron">
    <div class="alert alert-danger" role="alert">

      <a target="_blank" href="https://home-automation-336c0-default-rtdb.firebaseio.com/Views">
        <h1>
          <strong>
            <em>
              Page Views = {{pageviews}}
            </em>
          </strong>
        </h1>
      </a>
    </div>

    <br>
    <div class="alert alert-primary" role="alert">
      <center>
        <h1><strong>Scanned Numbers is/are :</strong></h1>

        {% for i in rangex %}
          <div class="alert alert-light" role="alert">
            <br><br>
            <img src="../uploads/mnistvix/{{filn[i]}}" alt="{{pred[i]}}">
            <br><br>
            <h1 style="color:red;">
              <strong>
                Output : {{pred[i]}}
              </strong>
            </h1>
          </div>
          <br><br>
        {% endfor %}

      </center>
    </div>
  </div>

  <br>
  <div class="jumbotron jumbotron">
    <div class="container">
      <center>
        <div class="container">

          <form method="post"
          action="/downloaded_mnistvix"
          enctype="multipart/form-data">

  					<div class="alert alert-danger" role="alert">
              <h1>
                <strong>
                  <em>
                    Choose file(s) from your device to scan...
                  </em>
                </strong>
              </h1>

              <br>
    					<input type="file" name="myfile" multiple="true" autocomplete="off" required>

              <br><br>
              <input type="image"
                     src="../static/logo/submit.png"
                     width="200"
                     height="60"
                     alt="submit"/>
            </div>
    			</form>

        </div>
      </center>
    </div>
  </div>

</body>
</html>

{% endblock %}
