{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

  <title>Movies</title>
</head>

<body>
  
  <div id="vickscroll">
    {% if scroll %}
    <script>
        document.location.hash = '#' + '{{ scroll }}';
    </script>
    {% endif %}
  </div>
  <br>

  <div class="jumbotron">
    <div class="container">
      <center>

        <div>
          <video id = "vickscroll" controls>
            <source src="https://lh3.googleusercontent.com/ikbZW42wWuz2boR4L5R1kt7RYHVgpAaw1e5ZiRNstf-uBJh-NmYHL6UmIzYY3a01D34bs1hAQEexg07--YTmIkS_R-DzRK6Y-1eZ-qsVAVLQ5XWJt1DD1gSIQTKOXFw9tPS-IQcK5g=m18" type="video/mp4">
          </video>
        </div>
        <br><br>

        <div class="alert alert-danger" role="alert">
          <h1 style="color:red;">
            <strong>
              <a href="https://photos.app.goo.gl/a3HZHMx9S67He4fj6">
              Movie : 14 Phere
              </a>
            </strong>
          </h1>
        </div>

      </center>
    </div>
  </div>

  <div class="jumbotron jumbotron">
    <div class="container">
      <center>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-success" role="alert">
              <a href="#">

                <h1 style="color:red;">
                  <strong>
                    Movie Review
                    <br>of...<br>
                    <em style="color:green;">14 Phere</em>
                    <br>
                  </strong>
                </h1>
              </a>

                <h3 style="color:red;">
                  Woahh...Yet another masterpiece from Devanshu Singh . <br><br>
                  As always Vikrant Massey again steals the stage single handedly but this time it was tough to say he alone left the audience blank to say something for their superb act.<br><br>
                  Kriti Kharbanda as usual made her act over dramatic at the end of the story but was not so noticeable cause she acted decently throughtout the movie .<br><br>
                  The supporting lead also worked fluently ; Gauahar Khan & Jameel Khan were perfect fit for their roles , apart from them each and every character showed maturity and sensibility with their roles even it is a 30 second role .<br><br>
                  The casting was picture perfect and the talent of actors itself made the movie beautiful .<br><br>

                  Script was above average and the story was somewhere unnecessarily dragged but it was Okay as the story completed within 2 hrs .<br><br>
                  The only thing I didn't liked was they completed their College Romance with a single song "Hum Dono Yun Mile" , i believe if the college romance could have given us something more about them then it woulb be great but nevertheless they very efficiently showed their college life through 3-5 minute song .
                  <br><br>

                  I would definitely ask you to binge watch 14 Phere over Hungama 2 <br>
                  Cheers <br><br>
                </h3>
            </div>

          </div>
        </div>

      </center>
    </div>
  </div>
  <br>

</body>
</html>

{% endblock %}

<!-- https://www.publicalbum.org/blog/embed-google-photos-video -->
