{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

  <title>Movies</title>
</head>

<body>

  <br>
  <div id="vickscroll">
    {% if scroll %}
    <script>
        document.location.hash = '#' + '{{ scroll }}';
    </script>
    {% endif %}
  </div>
  <br>
  <!-- scroll='vickscroll', -->

  <div class="jumbotron jumbotron">
    <div class="alert alert-danger" role="alert">
      <a target="_blank" href="https://home-automation-336c0-default-rtdb.firebaseio.com/Views">
        <h1>
          <strong>
            <em>
              Page Views = {{pageviews}}
            </em>
          </strong>
        </h1>
      </a>
    <!-- </div> -->

      <!-- https://dashboard.razorpay.com/app/payments
      <br>
      <center>

        <form>
          <script
            src="https://checkout.razorpay.com/v1/payment-button.js"
            data-payment_button_id="pl_I1O6gK4fq2r9y6"
            async>
          </script>
        </form>

      </center> -->

    </div>
  </div>
  <br>

  {% if applied == 'yes' %}
    <div class="jumbotron jumbotron">
      <div class="container">
        <center>

          <form method="post" action="/vicks_movies">
            <div class="alert alert-danger" role="alert">

              <div class="alert alert-success" role="alert">
                <h3>
                  <strong>Enter Coupon Code</strong>
                </h3>

                <br>
                <input type="password" name="movixcode" placeholder="Paste Here"/>
                <br>
              </div>

              <br>
              <!-- <div class="alert alert-success" role="alert"> -->
                <input type="image"
                       src="../static/logo/submit.png"
                       width="200"
                       height="60"
                       alt="submit"/>
            </div>
          </form>

        </center>
      </div>
    </div>
  {% endif %}


  {% if movixcode == 'KOTAFACTORYS2VICKS' %}

    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
      </ol>

      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="jumbotron">
            <div class="container">
              <center>

                <div>
                  <iframe src="https://drive.google.com/file/d/{{kotaurl[0]}}/preview"
                  width="640" height="480" allow="autoplay" allowfullscreen></iframe>
                </div>

                <br><br>
                <div class="alert alert-success" role="alert">
                  <h1 style="color:red;">
                    KOTA FACTORY
                    <br>
                    <strong>

                      <a target="_blank" href="https://drive.google.com/file/d/{{kotaurl[0]}}/view?usp=sharing">
                      Click me : S2.E(1)
                      </a>

                      <br><br>
                      <h3 style="color:green;">
                        <em>
                          Swipe Left <<< 'Next Episode'
                        </em>
                      </h3>

                      <!-- <br>
                      Recommended to
                      <br>
                      Watch in Full Screen -->

                    </strong>
                  </h1>
                </div>

              </center>
            </div>
          </div>
        </div>

        {% for i in kota25 %}
        <div class="carousel-item">
          <div class="jumbotron">
            <div class="container">
              <center>

                <div>
                  <iframe src="https://drive.google.com/file/d/{{kotaurl[i+1]}}/preview"
                  width="640" height="480" allow="autoplay" allowfullscreen></iframe>
                </div>

                <br><br>
                <div class="alert alert-success" role="alert">
                  <h1 style="color:red;">
                    KOTA FACTORY
                    <br>
                    <strong>
                      <a target="_blank" href="https://drive.google.com/file/d/{{kotaurl[i+1]}}/view?usp=sharing">
                      Click me : S2.E({{i+2}})
                      </a>
                    </strong>
                  </h1>
                </div>

              </center>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>

      <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
    <br>

<!-- ==================================================== -->

    <div class="jumbotron">
      <div class="container">
        <center>

          <div>
            <iframe src="https://drive.google.com/file/d/1hChTOJBh509YTvf9QW21y3OBCORDlhjk/preview"
            width="640" height="480" allow="autoplay" allowfullscreen></iframe>
          </div>

          <br><br>
          <div class="alert alert-danger" role="alert">
            <h1 style="color:red;">
              Download Movie <br>
              <strong>
                <a target="_blank" href="https://drive.google.com/file/d/1hChTOJBh509YTvf9QW21y3OBCORDlhjk/view?usp=sharing">
                Bell Bottom
                </a>
              </strong>
            </h1>

          <!-- <h3>If preview is still loading,
            <br> you may Download, as
            <br>
            <br> Movie is just Uploaded
            <br> on my website.</h3> -->
          </div>

        </center>
      </div>
    </div>
    <br>

    <div class="jumbotron jumbotron">
      <div class="container">
        <center>

          <div class="jumbotron jumbotron-fluid">
            <div class="container">

              <div class="alert alert-success" role="alert">
                <a target="_blank" href="https://g.co/kgs/fgRtGr">

                  <h1 style="color:red;">
                    <strong>
                      Movie Review of...<br>
                      <em style="color:green;">
                        Bell Bottom
                        <br><br>
                        IMDb : 6.3/10
                      </em>
                      <br>
                      84% Google User
                      <br>
                      liked this film
                    </strong>
                  </h1>
                </a>

                <a class="btn btn-warning" data-toggle="collapse"
                href="#collapserecvideo" role="button" aria-expanded="false"
                aria-controls="collapseExample">
                  <h2>
                    Click me to <br> Read Reviews
                    <br>
                  </h2>
                </a>

                <br><br>
                <div class="collapse" id="collapserecvideo">

                  <h3 style="color:red;">
                  Inspite of a lot of flaws all around, I found Bell Bottom to be really an engaging espionage thriller. The makers were sure about their strong & weak area; thus they picked full points in their strong areas & ignored those weak areas; no harm!
                  <br><br>
                  One of the best thing about Bell Bottom is that it never tried to be over-nationalistic or over-dramatic! It tried it's best to stay in reality & maintain a composure.
                  <br><br>
                  Secondly, Bell Bottom is a decently researched work. It's not based on a particular event but actually it's inspired by several contemporary events. We can't expect some phenomenal research in this type of offering from Bollywood, but still makers serve the thing quite coherently.
                  <br><br>
                  The biggest highlight of Bell Bottom is its stunning background score! Daniel B. George did a great job with the retro music; thus the film is looking absolutely well polished & stylish. Satisfying work in production design area is also evident.
                  <br><br>
                  Without any doubt, Akshay Kumar is the talisman of bollywood for this genre! Akshay delivered what we expect from him. Adil Hussain had a too easy role to do in comparison to his calibre; and he did it masterfully. Lara Dutta acted as brilliantly as her make up! Zain Khan Durrani as one of the highjacker was impressive.
                  <br><br>
                  There were off course several flaws; the most prominent problem is it's climax, which is poorly executed & could be much much convincing.
                  <br><br>
                  You can't complain about enrolling of unnecessary romantic interests or stupid songs in bollywood, but atleast there should be a chemistry between the lead actor and actress; which is completely missing between vaani Kapoor and Akshay Kumar! We experienced great chemistry within this same genre via Airlift or Baby! There are other flaws too; but as I mentioned one can forgive those if the rest of the thing is good enough.
                  <br><br>
                  Thus, Bell Bottom is not that remarkable like it's ancestral Baby or Airlift, but still it has its moment. It managed to hold you attention to the end credits anyway. Genre fans should go for it in the big-screen, others can wait for OTT or skip..
                  Cheers <br><br>
                  </h3>

                </div>
              </div>

            </div>
          </div>

        </center>
      </div>
    </div>
    <br>

    <div class="jumbotron">
      <div class="container">
        <center>

          <div class="alert alert-danger" role="alert">
            <a target="_blank" href="https://onionplay.uk/tvshows/money-heist-2017/">
              <h1 style="color:red;">
                Also Watch WebSeries
                <br>
                <strong style="color:green;">
                  <em>Money Heist</em>
                </strong>
              </h1>
            </a>
          </div>

          <br>
          <div>
            <iframe src="https://drive.google.com/file/d/1Yf6-9uiDqoog2Ao603vbpRFOde8KNj1h/preview"
            width="640" height="480" allow="autoplay" allowfullscreen></iframe>
          </div>

          <br><br>

          <div class="alert alert-success" role="alert">
            <h1 style="color:red;">
              14 Phere :
              <strong>
                <a target="_blank" href="https://g.co/kgs/E6eW95">
                Movie Rating <br> and Reviews
                </a>
              </strong>
            </h1>
          </div>

        </center>
      </div>
    </div>

  {% else %}

  <div class="jumbotron jumbotron">
    <div class="container">
      <center>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-danger" role="alert">
              <a target="_blank" href="https://api.whatsapp.com/send?phone=918239957923&text=What is Correct Coupon Code ?">

                <h2 style="color:red;">
                  <strong>
                    Click me to <br>
                    <!-- If you are getting errors
                    <br><br> -->
                    <em style="color:green;">Ask Vicky for</em>
                    <br>
                    Correct Coupon Code
                  </strong>
                </h2>

              </a>
            </div>

          </div>
        </div>

      </center>
    </div>
  </div>

  {% endif %}

  <br>
  <div class="jumbotron jumbotron">
    <div class="container">
      <center>

      <br><br>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-success" role="alert">
              <a target="_blank" href="https://github.com/imvickykumar999/imvickykumar999/blob/b74c037ae22e2bdb5b4d06742d34806a2955de88/templates/movies.html#L16">

                <h1 style="color:red;">
                  <strong>
                    Vicks Movies
                    <br>
                    <em style="color:green;">See Code on GitHub</em>
                    <br><br>
                    Recommended to<br>
                    Watch in Full Screen
                  </strong>
                </h1>

              </a>
            </div>

          </div>
        </div>

      </center>
    </div>
  </div>

</body>
</html>

{% endblock %}

<!-- https://www.publicalbum.org/blog/embed-google-photos-video -->
