{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">

    <title>Vicks News</title>
  </head>

  <body>
    <center>
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

      {% if session.username %}
        <h3 class='jumbotron'>{{good}}
        <br>
          <strong>
            @{{session.username}}
          </strong>
        </h3>

      {% else %}
        <h3 class='jumbotron'>{{good}} 
        <br>
          <a href="{{url_for('login')}}">
            <strong>
              Guest
            </strong>
          </a>
        </h3>
      {% endif %}
  
      <div class="jumbotron jumbotron-fluid rounded">
        <div class="container">
          {%for x in range(0, len)%}

              <div class="col mb-4">
                <div class="card">
                  <img src={{ia[x]}} class="card-img-top">

                  <div class="card">
                    <h2 style="color:black;" class="card-title">
                      <strong>
                        {{x+1}}). {{ha[x]}}
                      </strong>
                    </h2>
                    <br>
                      <h3>
                        <p class="card-text">{{ba[x]}}</p>
                      </h3>
                    <br>

                    {% if la[x] == 'link not found' %}
                        <a target="_blank" href="{{la[x]}}" class="btn btn-danger">Link NOT Found</a>
                    {% else %}
                        <a target="_blank" href="{{la[x]}}" class="btn btn-secondary">READ MORE</a>
                    {% endif %}

                  </div>
                </div>
              </div>

          <br> <br>
          {% endfor %}

        </div>
      </div>

      Made with ❤️ by 
      <a target="_blank" href="https://github.com/imvickykumar999/imvickykumar999">
        @imvickykumar999
      </a>

    </center>
  </body>
</html>

{% endblock %}
