{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

  <title>Playfair Cipher Convertor</title>
</head>

<body>

    <div class="jumbotron jumbotron-fluid">
      <div class="alert alert-danger" role="alert">

          <a href="https://github.com/imvickykumar999/hackathon-iot-car-parking/blob/34f3555917e5dc62ce19c08aa85ce0a4b6e4fc07/vicks/playfair_cipher.py#L2">
            <!-- <h1>
              Playfair Cipher on GitHub
            </h1> -->

            <h1 style="color:red;">
              <strong>
                Playfair Cipher
                <br>
                <em style="color:green;">See Code on GitHub</em>
              </strong>
            </h1>
          </a>

      </div>
    </div>

    <br><br><br>

    <div id="output" class="card">
      Key
      <div class="alert alert-primary" role="alert">
        {{data0}}
      </div>
    </div>

    <div id="output" class="card">
      Text
      <div class="alert alert-warning" role="alert">
        {{data1}}
      </div>
    </div>

    <div id="output" class="card">
      Encrypted
      <div class="alert alert-danger" role="alert">
        {{data2}}
      </div>
    </div>

    <br><br><br>

    <form method="post" action="/converted_playfair_cipher">
      <div class="alert alert-primary" role="alert">
        <center>

        <div class="alert alert-warning" role="alert">
          <h3>
            <strong>Enter Key : </strong>
          </h3>

          <input type="text" name="playfair_cipher_key" placeholder="Type here"/>
          <br><br>
        </div>

        <div class="alert alert-info" role="alert">
          <h3>
            <strong>Enter Text : </strong>
          </h3>

          <input type="text" name="playfair_cipher_text" placeholder="Type here"/>
          <br><br>
        </div>

        <div class="alert alert-danger" role="alert">
            <!-- <input type="submit" value="Submit"> -->
          <input type="image"
                 src="../static/logo/submit.png"
                 width="200"
                 height="60"
                 alt="submit"/>
        </div>

          <p>
            {% with messages = get_flashed_messages() %}
              {% if messages %}

              <ul class=flashes>
              {% for message in messages %}
                <li>
                  <h3>
                    {{ message }}
                  </h3>
                </li>
              {% endfor %}
              </ul>

              {% endif %}
            {% endwith %}
          </p>

        </center>
      </div>

    <br><br>
  </form>

</body>
</html>

{% endblock %}
