{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8191146460815779"
         crossorigin="anonymous"></script>
         
    <!-- https://stackoverflow.com/a/50728936/11493297 -->
  <title>Vicks Poll</title>
</head>

<body>
  <center>

    <br><br>
    <div class="jumbotron jumbotron">

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-danger" role="alert">
              <a target="_blank" href="https://github.com/imvickykumar999/imvickykumar999/blob/fa8fb2b66f6183ccc75cd5c925c53a90236f5e4d/app.py#L736">

                <h1 style="color:red;">
                  <strong>
                    Poll Opinion
                    <br>
                    <em style="color:green;">See Code on GitHub</em>
                  </strong>
                </h1>

              </a>
            </div>

          </div>
        </div>

        <br>
          <form method="post" action="/converted_poll">
            <div class="alert alert-success" role="alert">
            <!-- <div class="jumbotron jumbotron-fluid"> -->

              <br>
              <div class="alert alert-light" role="alert">
                <br>
                <div class="alert alert-warning" role="alert">
                  <h2 style="color:red;">
                    <strong>
                      What’s your favorite ice cream flavor?
                    </strong>
                  </h2>

                  <br>
                  <img src="static/screenshots/ice.jpg"
                  width="60%" alt="ice">
                  <br><br>
                </div>

                <br><br>
                <div class="alert alert-primary" role="alert">
                  <div class="custom-control custom-radio">
                    <input value="1" type="radio" id="audio" name="message" class="form-check-input" checked>
                    <label class="form-check-label" for="customRadio1">
                      <h3>Option 1 : Vanilla</h3>
                    </label>
                  </div>
                </div>

                <br>
                <div class="alert alert-primary" role="alert">
                  <div class="custom-control custom-radio">
                    <input value="2" type="radio" id="audio" name="message" class="form-check-input">
                    <label class="form-check-label" for="customRadio1">
                      <h3>Option 2 : Chocolate</h3>
                    </label>
                  </div>
                </div>

                <br>
                <div class="alert alert-primary" role="alert">
                  <div class="custom-control custom-radio">
                    <input value="3" type="radio" id="video" name="message" class="form-check-input">
                    <label class="form-check-label" for="customRadio2">
                      <h3>Option 3 : Strawberry</h3>
                    </label>
                  </div>
                </div>

                <br>
                <div class="alert alert-primary" role="alert">
                  <div class="custom-control custom-radio">
                    <input value="4" type="radio" id="video" name="message" class="form-check-input">
                    <label class="form-check-label" for="customRadio2">
                      <h3>Option 4 : Butter Scotch</h3>
                    </label>
                  </div>
                </div>

              </div>

              <br>
                <div class="alert alert-danger" role="alert">
                  <a target="_blank" href="/vicksmail">
                    <h1 style="color:red;">
                      <strong>
                        Click me to<br>Get OTP
                      </strong>
                    </h1>
                  </a>

                  <br>
                  <input type="text" name="otp" placeholder="Check your mail and Enter OTP"/>
                  <br><br>
                </div>

              <!-- <div class="alert alert-danger" role="alert"> -->
              <br>
                <input type="image"
                       src="../static/logo/submit.png"
                       width="200"
                       height="60"
                       alt="submit"/>
              <!-- </div> -->

          </div>
        </form>
      </div>

      <br>
      <div id="vickscroll">
        {% if scroll %}
        <script>
            document.location.hash = '#' + '{{ scroll }}';
        </script>
        {% endif %}
      </div>
      <br>

      <div class="jumbotron jumbotron">
        <div class="alert alert-danger" role="alert">

          <a target="_blank" href="https://home-automation-336c0-default-rtdb.firebaseio.com/Views">
            <h1 style="color:red;">
              <strong>
                Page Views = {{pageviews}}
              </strong>
            </h1>
          </a>
        </div>

        <br><br>
        <a target="_blank" href="https://new-project-ab9c7-default-rtdb.firebaseio.com/Group/Chat">
          <img src="data:image/png;base64,{{data1}}">
        </a>
      </div>

      <br><br>
      <div class="jumbotron jumbotron">

        <a class="btn btn-warning"
        data-toggle="collapse"
        href="#api"
        role="button">

        <h1 style="color:black">
          Click me to
          <br>
          See API
        </h1>
        </a>

      <div class="collapse" id="api">
        <div class="card card-body">
          <div class="container">
            <br>
            <h4 style="color:blue">
              {{data2}}
            </h4>
          </div>
        </div>
      </div>
    </div>

  </center>
</body>
</html>

{% endblock %}
