{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- <link rel="stylesheet" href="../css/index.css"> -->
</head>
<body>

        <div class="jumbotron">
          <div class="container">
            <div class="alert alert-danger" role="alert">

              <center>
                <a href="https://imvickykumar999.github.io/Oye-Vix/">

                  <h1 style="color:red;">
                    <strong>
                      Professional Skills
                    </strong>
                  </h1>

                </a>
              </center>

              <br>
            </div>

          </div>
        </div>

        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <!-- class="carousel-inner" -->

            <div class="carousel-item active">
              <a href="https://imvickykumar999.github.io/vixtor/">
                <img src="../static/screenshots/vixtor.png" class="d-block w-100" alt="...">
              </a>
              <div class="carousel-caption d-none d-md-block"></div>

              <div class="jumbotron">
                <div class="container">

                  <center>
                    <h4 style="color:red;">C++ and Python</h4>
                    <p><strong>Medium, 2 years...</strong></p>

                    <br>
                    <h5>My Package : pip install vixtor</h5>

                    <h6>
                      <a href="https://www.google.com/search?safe=active&rlz=1C1CHBF_enIN920IN920&sxsrf=ALeKk00XSTnGwj3o2bqjdOwfuH7BJXQxbQ%3A1603564744021&ei=yHSUX89lu_7Puw_GraLIBg&q=imvickykumar999&oq=imvickykumar999&gs_lcp=CgZwc3ktYWIQAzIECCMQJzIECCMQJzIECCMQJ1DJW1jmYGCnZWgAcAB4AIABnASIAaANkgELMC4yLjIuMS4wLjGYAQCgAQGqAQdnd3Mtd2l6wAEB&sclient=psy-ab&ved=0ahUKEwjP6cOX8M3sAhU7_3MBHcaWCGkQ4dUDCA0&uact=5">
                        <span style="background-color:yellow">
                          from vixtor import threeDvector as vix
                        </span>
                      </a>
                    </h6>

                    <br>
                    <em>
                      <p>
                        <h3>
                          Made a Python Package in Python named as vixtor. I've been working with Python since 1 year, developing technologies from standalone application. Also completed School projects on C++ and C.
                        </h3>
                      </p>
                    </em>
                  </center>

                </div>
              </div>
            </div>

            <div class="carousel-item">
              <a href="https://github.com/imvickykumar999/Calender-programme/blob/master/Calender%201940%20to%20....cpp">
                <img src="../static/screenshots/javascript.jpg" class="d-block w-100" alt="...">
              </a>
              <div class="carousel-caption d-none d-md-block"></div>

                <div class="jumbotron">
                  <div class="container">

                    <center>
                      <h4 style="color:red;">Java and Android</h4>
                      <p><strong>Basic, 2 months...</strong></p>
                      <p>
                        <h3>
                          Started as a hobbie, then it was a mandatory course in B.Tech sem 5. Then completed various projects in academics and few projects as assignment on online platforms.
                        </h3>
                      </p>
                    </center>

                  </div>
              </div>
            </div>

            <div class="carousel-item">
              <a href="https://github.com/imvickykumar999/Personal-Portfolio-in-Django">
                <img src="../static/screenshots/html.jpg" class="d-block w-100" alt="...">
              </a>
              <div class="carousel-caption d-none d-md-block"></div>

                <div class="jumbotron">
                  <div class="container">

                    <center>
                      <h4 style="color:red;">HTML5, CSS, Javascript</h4>
                      <p><strong>Medium, 6 months...</strong></p>

                      <em>
                        <p>
                          <h3>
                            I've been working with web technologies since 2 months, when I tried my first live project to make Portfolio website.
                          </h3>
                        </p>
                      </em>
                    </center>

                  </div>
              </div>
            </div>

          </div>
          <!-- class="carousel-inner" -->

          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>

          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>

        <div class="jumbotron">
          <div class="container">

            <center>
              <strong>

                <h3>
                  <span style="background-color:orange">
                    These are the Other skills...
                  </span>
                </h3>

                <br>
                <p>Completed Internship on
                  <span style="background-color:LightBlue">
                    Artificial Intelligence
                  </span>
                   in Python using scikit-learn.
                </p>

                <p>Worked as an Intern to develop many PC application with Python.</p>

                <span style="background-color:LightGreen">
                  Technologies, Files and Language used :
                </span>


              </strong>
            </center>

          </div>
        </div>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <center>
              <strong>

                  <em>
                    <div class="alert alert-danger" role="alert">
                      Python
                    </div>

                    <div class="alert alert-warning" role="alert">
                      Firebase
                    </div>

                    <div class="alert alert-info" role="alert">
                      C++
                    </div>

                    <div class="alert alert-danger" role="alert">
                      C
                    </div>

                    <div class="alert alert-warning" role="alert">
                      HTML
                    </div>

                    <div class="alert alert-info" role="alert">
                      JavaScript
                    </div>

                    <div class="alert alert-danger" role="alert">
                      CSS
                    </div>

                    <div class="alert alert-warning" role="alert">
                      MySQL
                    </div>

                    <div class="alert alert-info" role="alert">
                      Flutter
                    </div>

                    <div class="alert alert-danger" role="alert">
                      Android
                    </div>

                    <div class="alert alert-warning" role="alert">
                      Bootstrap
                    </div>

                    <div class="alert alert-primary" role="alert">
                      Java
                    </div>

                    <div class="alert alert-warning" role="alert">
                      XML
                    </div>

                    <div class="alert alert-primary" role="alert">
                      JSON
                    </div>

                    <div class="alert alert-danger" role="alert">
                      CSV
                    </div>

                    <div class="alert alert-primary" role="alert">
                      WebApp
                    </div>
                  </em>

            </strong>
          </center>

        </div>
      </div>

</body>
</html>

{% endblock %}
