{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8191146460815779"
         crossorigin="anonymous"></script>

  <title>YouTube Comments</title>
</head>

<body>

  <div class="jumbotron jumbotron">
    <div class="container">
      <center>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-success" role="alert">
              <a href="https://github.com/imvickykumar999/imvickykumar999/blob/master/templates/vixmemes.html">
                <h1 style="color:red;">

                  <strong>
                    Meme Generator
                    <br><br>
                    <em style="color:green;">See Code on GitHub</em>
                  </strong>

                </h1>
              </a>
            </div>

          </div>
        </div>

      </center>
    </div>
  </div>

  <div id="vickscroll">
    {% if scroll %}
    <script>
        document.location.hash = '#' + '{{ scroll }}';
    </script>
    {% endif %}
  </div>

  <br>
  <div class="jumbotron jumbotron">
    <div class="alert alert-danger" role="alert">

      <a target="_blank" href="https://home-automation-336c0-default-rtdb.firebaseio.com/Views">
        <h1>
          <strong>
            <em>
              Page Views = {{pageviews}}
            </em>
          </strong>
        </h1>
      </a>
    </div>

    <br>
    <div class="alert alert-primary" role="alert">
      <center>

        <a target="_blank" href="https://api.whatsapp.com/send?text={{file['url']}}">
          <h1>
            <strong style="color:red;">
              Share This Meme
              <br>
              link On WhatsApp !
            </strong>
          </h1>
        </a>

        <br>
          <!-- <a target="_blank" href="{{file}}"> -->
            <img id="myImgId"
            src="{{file['url']}}"
            width="60%"
            alt="generated meme">
          <!-- </a> -->
        <br><br><br>

        {% if file['id'] %}
          <div class="alert alert-danger" role="alert">
            <strong>
              <h1>
                <strong>
                  ID Number
                  <br>
                  {{file['id']}}
                </strong>
              </h1>
            </strong>
          </div>
        {% endif %}
        <br>

        <div class="alert alert-light" role="alert">
          <h3>X - Coordinate of image :
            <span id="x">
              Click on Image to get X
            </span></h3>
          <!-- <br> -->
          <h3>Y - Coordinate of image :
            <span id="y">
              Click on Image to get Y
            </span></h3>
        </div>

      </center>
    </div>
  </div>

  <br>
  <div class="jumbotron jumbotron">
    <div class="container">
      <center>
        <div class="container">

          <div class="alert alert-warning" role="alert">
            <a target = '_blank' href="/memeapi">
              <h1>
                <strong style="color:red;">
                  Scroll down for
                  <br>
                  more templates
                </strong>
              </h1>
            </a>

            <br>
            <iframe frameborder="0" scrolling="yes" width="100%" height="900"
               src="/memeapi" name="imgbox" id="imgbox">
            </iframe>

            <br><br>
            <a target = '_blank' href="https://api.imgflip.com/get_memes">
              <h1>
                <strong>
                  Thanks 2 ImgFlip API
                </strong>
              </h1>
            </a>
          </div>

          <form method="post" action="/downloaded_vixmemes">
            <center>

              <br><br>
              <div class="alert alert-light" role="alert">
                <div class="alert alert-danger" role="alert">

                  <h2>
                    <strong>
                      Write id number
                    </strong>
                  </h2>


                  <input type="text" name="idno" placeholder="Copy ID Number and paste here..."/>
                  <br><br>
                </div>

                <div class="alert alert-success" role="alert">
                  <h2>
                    <strong>
                      Enter Top Text
                    </strong>
                  </h2>


                  <input type="text" name="text0" placeholder="Write here..."/>
                  <br><br>
                </div>

                <div class="alert alert-primary" role="alert">
                  <h2>
                    <strong>
                      Enter Bottom Text
                    </strong>
                  </h2>


                  <input type="text" name="text1" placeholder="Write here..."/>
                  <br><br>
                </div>

                <input type="image"
                   src="../static/logo/submit.png"
                   width="200"
                   height="60"
                   alt="submit"/>
              </div>

            </center>
          </form>

        </div>
      </center>
    </div>
  </div>

  <script type="text/javascript">
    var myImg = document.getElementById("myImgId");
    myImg.onmousedown = GetCoordinates;

    function FindPosition(oElement)
    {
      if(typeof( oElement.offsetParent ) != "undefined")
      {
        for(var posX = 0, posY = 0; oElement; oElement = oElement.offsetParent)
        {
          posX += oElement.offsetLeft;
          posY += oElement.offsetTop;
        }
          return [ posX, posY ];
        }
        else
        {
          return [ oElement.x, oElement.y ];
        }
    }

    function GetCoordinates(e)
    {
      var PosX = 0;
      var PosY = 0;
      var ImgPos;
      ImgPos = FindPosition(myImg);
      if (!e) var e = window.event;
      if (e.pageX || e.pageY)
      {
        PosX = e.pageX;
        PosY = e.pageY;
      }
      else if (e.clientX || e.clientY)
        {
          PosX = e.clientX + document.body.scrollLeft
            + document.documentElement.scrollLeft;
          PosY = e.clientY + document.body.scrollTop
            + document.documentElement.scrollTop;
        }
      PosX = PosX - ImgPos[0];
      PosY = PosY - ImgPos[1];
      document.getElementById("x").innerHTML = PosX;
      document.getElementById("y").innerHTML = PosY;
    }
  </script>

</body>
</html>

{% endblock %}
