{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8191146460815779"
         crossorigin="anonymous"></script>

  <title>YouTube Comments</title>
</head>

<body>

  <div class="jumbotron jumbotron">
    <div class="container">
      <center>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-success" role="alert">
              <a href="https://github.com/imvickykumar999/imvickykumar999/blob/master/templates/vixmemes.html">
                <h1 style="color:red;">

                  <strong>
                    Meme Generator
                    <br><br>
                    <em style="color:green;">See Code on GitHub</em>
                  </strong>

                </h1>
              </a>
            </div>

          </div>
        </div>

      </center>
    </div>
  </div>

  <div id="vickscroll">
    {% if scroll %}
    <script>
        document.location.hash = '#' + '{{ scroll }}';
    </script>
    {% endif %}
  </div>

  <br>
  <div class="jumbotron jumbotron">
    <div class="alert alert-danger" role="alert">

      <a target="_blank" href="https://home-automation-336c0-default-rtdb.firebaseio.com/Views">
        <h1>
          <strong>
            <em>
              Page Views = {{pageviews}}
            </em>
          </strong>
        </h1>
      </a>
    </div>

    <br>
    <div class="alert alert-primary" role="alert">
      <center>
        <h1><strong>Generated Meme</strong></h1>
        <br>
          <a target="_blank" href="{{file}}">
            <img src="{{file}}"
            width="60%"
            alt="generated meme">
          </a>
        <br><br>
      </center>
    </div>
  </div>

  <br>
  <div class="jumbotron jumbotron">
    <div class="container">
      <center>
        <div class="container">

          <div class="alert alert-warning" role="alert">
            <a target = '_blank' href="https://api.imgflip.com/get_memes">
              <h1>
                <strong>
                  Thanks 2 ImgFlip API
                </strong>
              </h1>
            </a>

            <br>
            <iframe frameborder="0" scrolling="yes" width="100%" height="900"
               src="/memeapi" name="imgbox" id="imgbox">
            </iframe>
          </div>

          <form method="post" action="/downloaded_vixmemes">
            <center>

              <br><br>
              <div class="alert alert-light" role="alert">
                <div class="alert alert-danger" role="alert">

                  <h2>
                    <strong>
                      Write id number
                    </strong>
                  </h2>


                  <input type="text" name="idno" placeholder="Write here and Press Submit"/>
                  <br><br>
                </div>

                <div class="alert alert-success" role="alert">
                  <h2>
                    <strong>
                      Enter Text0
                    </strong>
                  </h2>


                  <input type="text" name="text0" placeholder="Write here..."/>
                  <br><br>
                </div>

                <div class="alert alert-primary" role="alert">
                  <h2>
                    <strong>
                      Enter Text1
                    </strong>
                  </h2>


                  <input type="text" name="text1" placeholder="Write here..."/>
                  <br><br>
                </div>

                <input type="image"
                   src="../static/logo/submit.png"
                   width="200"
                   height="60"
                   alt="submit"/>
              </div>

            </center>
          </form>

        </div>
      </center>
    </div>
  </div>

</body>
</html>

{% endblock %}
