{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8191146460815779"
         crossorigin="anonymous"></script>

  <title>YouTube Comments</title>
</head>

<body>

  <div class="jumbotron jumbotron">
    <div class="container">
      <center>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-success" role="alert">
              <a href="https://github.com/imvickykumar999/imvickykumar999/blob/master/vicks/reels.py">
                <h1 style="color:red;">
                  <strong>
                    Spotify Song Downloader
                    <br><br>
                    <em style="color:green;">See Code on GitHub</em>
                  </strong>
                </h1>
              </a>
            </div>

          </div>
        </div>

      </center>
    </div>
  </div>

  <div id="vickscroll">
    {% if scroll %}
    <script>
        document.location.hash = '#' + '{{ scroll }}';
    </script>
    {% endif %}
  </div>
  <!-- scroll='vickscroll', -->

  <br>
  <div class="jumbotron jumbotron">
    <div class="alert alert-danger" role="alert">
      <a target="_blank" href="https://home-automation-336c0-default-rtdb.firebaseio.com/Views">
        <h1>
          <strong>
            <em>
              Page Views = {{pageviews}}
            </em>
          </strong>
        </h1>
      </a>

    <!-- </div> -->

      <!-- https://dashboard.razorpay.com/app/payments
      <br>
      <center>

        <form>
          <script
            src="https://checkout.razorpay.com/v1/payment-button.js"
            data-payment_button_id="pl_I1O6gK4fq2r9y6"
            async>
          </script>
        </form>

      </center> -->

    </div>

    <br>
    <div class="alert alert-primary" role="alert">
      <br><br>
      <iframe
        src="https://open.spotify.com/embed/{{type}}/{{ids[0]}}?utm_source=generator"
        width="100%" height="380"
        frameBorder="0" allowfullscreen=""
        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
      </iframe>
    </div>
  </div>

<br>
<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8191146460815779"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8191146460815779"
     data-ad-slot="6684151280"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->

  <br>
  <div class="jumbotron jumbotron">
    <div class="container">
      <center>
        <div class="container">

          <form method="post" action="/downloaded_vixtify">
            <div class="alert alert-warning" role="alert">
              <center>

                {% for i in path %}
                  <div class="alert alert-primary" role="alert">
                    <audio controls>
                      <source src="uploads/vixtify/{{i}}" type="audio/mpeg">
                    </audio>
                  </div>
                {% endfor %}

                <br>
                <div class="alert alert-danger" role="alert">
                  <h1>
                    <strong>
                      Write Song Name
                      <br>to Search
                    </strong>
                  </h1>

                  <input type="text" name="vixtify" placeholder="Write here and Press Submit"/>
                  <br><br>

                  <input type="image"
                     src="../static/logo/submit.png"
                     width="200"
                     height="60"
                     alt="submit"/>
                </div>

              </center>
            </div>
          </form>

        </div>
      </center>
    </div>
  </div>

</body>
</html>

{% endblock %}
