{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

  <title>Firebase Chatting</title>

<!-- ==================================== -->

  <!-- <script src=
  	"https://smtpjs.com/v3/smtp.js">
  </script>

  <script type="text/javascript">
  	function sendEmail() {
  	Email.send({
  		Host: "smtp.gmail.com",
  		Username: "imvickykumar999@gmail.com",
  		Password: "************",
  		To: 'imvickykumar999@gmail.com',
  		From: "imvickykumar999@gmail.com",
  		Subject: "Firechat OTP",
  		Body: "Copy this OTP and Paste there to Verify, if its you !!",
  	})
  		.then(function (message) {
  		alert("OTP sent successfully")
  		});
  	}
  </script> -->

<!-- ========================================= -->

</head>

<body>

  <center>
    <div class="jumbotron jumbotron">

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-danger" role="alert">
              <a href="https://github.com/imvickykumar999/imvickykumar999/blob/4e143cc2285d0aceab1c7e7b8a95eaa4c42c7b67/templates/yourquotes.html#L49">
                <!-- <h1>
                  <p>Firebase Chatting Code on GitHub</p>
                </h1> -->

                <h1 style="color:red;">
                  <strong>
                    Your Quotes
                    <br>
                    <em style="color:green;">See Code on GitHub</em>
                  </strong>
                </h1>

              </a>
            </div>

          </div>
        </div>

        <br><br>
          <form method="post" action="/converted_yourquotes">
            <div class="alert alert-light" role="alert">
            <!-- <div class="jumbotron jumbotron-fluid"> -->

              <div class="alert alert-primary" role="alert">

                <a href="https://api.whatsapp.com/send?phone=918239957923&text=What%20is%20Credential%20to%20write%20quotes?">
                  <h2 style="color:blue;">
                    <strong>
                      Click me to <br> Ask Vicky, and <br><br> Enter Credentials
                    </strong>
                  </h2>
                </a>

                <br>
                <input type="password" name="credentials" placeholder="Due to Security Reason"/>
                <br><br>
              </div>

<!-- =============================================================   -->

              <!-- <form method="post">
              	<input type="button" value="Send Email"
              		onclick="sendEmail()" />
              </form> -->

<!-- ================================================================ -->

              <div class="alert alert-danger" role="alert">
                <h3>
                  <strong>Enter Your<br> E-Mail's username <br><br> for Verification</strong>
                </h3>

                <input type="text" name="person" placeholder="@gmail.com"/>
                <br><br>
              </div>

              <!-- <div class="alert alert-success" role="alert">
                <h3>
                  <strong>Enter OTP <br> sent to email id</strong>
                </h3>

                <br>
                <input type="password" name="person" placeholder="Enter here"/>
                <br><br>
              </div> -->

              <div class="alert alert-success" role="alert">
                <h3>
                  <strong>Enter Your <br> Quote / Poem / Story </strong>
                </h3>

                <!-- <input type="text" name="message" placeholder="Let's Start Healthy Conversation"/> -->
                <textarea name="message" rows="10" cols="60"> </textarea>
                <br><br>
              </div>

              <!-- <div class="alert alert-danger" role="alert"> -->
                <input type="image"
                       src="../static/logo/submit.png"
                       width="200"
                       height="60"
                       alt="submit"/>
              <!-- </div> -->

          </div>
          <br><br>
        </form>
      </div>

      <!-- <div id="vickscroll">
        {% if scroll %}
        <script>
            document.location.hash = '#' + '{{ scroll }}';
        </script>
        {% endif %}
      </div>
      <br> -->

      <br>
      <div class="jumbotron jumbotron">

        <a class="btn btn-warning"
        data-toggle="collapse"
        href="#collapseExample"
        role="button">

        <h1 style="color:black">
          Click me to
          <br>
          See Quotes
        </h1>
        </a>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div class="container">
            <br>

            {% for key, values in data.items() %}
              <div class="alert alert-warning" role="alert">
              <!-- <div class="jumbotron jumbotron-fluid"> -->
              <br>
                <div class="alert alert-primary" role="alert">
                  <h1 style="color:blue">
                    <strong><em>{{key}}</em></strong>
                  </h1>
                </div>
                <br>

                {% for subkey, subvalues in values.items() %}
                  <div class="alert alert-light" role="alert">

                    <br>
                    <div class="alert alert-danger" role="alert">
                      <h1 style="color:red">
                        {{subkey}}
                      </h1>
                    </div>

                    {% for subkeysub, subvaluesub in subvalues.items() %}
                    <tr>

                       <td>
                         <div class="alert alert-success" role="alert">
                           <h1><strong>{{subvaluesub}}</strong></h1>
                         </div>
                       </td>

                       <th>
                         <div class="alert alert-primary" role="alert">
                           <h2>- by {{subkeysub}}</h2>
                         </div>
                       </th>

                    </tr>
                    {% endfor %}

                  </div>
                  <br>
                {% endfor %}

              </div>
              <br><br>

              <h1 style="color:red">
                <strong>
                  -> {Next Day} <-
                </strong>
              </h1>

            <br><br>
            {% endfor %}

          </div>
        </div>
      </div>

    </div>
  </center>

</body>
</html>

{% endblock %}
