{% extends "base.html"%}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="../static/css/stylesheet.css">

  <title>Firebase Chatting</title>

<!-- ==================================== -->

  <!-- <script src=
  	"https://smtpjs.com/v3/smtp.js">
  </script>

  <script type="text/javascript">
  	function sendEmail() {
  	Email.send({
  		Host: "smtp.gmail.com",
  		Username: "imvickykumar999@gmail.com",
  		Password: "************",
  		To: 'imvickykumar999@gmail.com',
  		From: "imvickykumar999@gmail.com",
  		Subject: "Firechat OTP",
  		Body: "Copy this OTP and Paste there to Verify, if its you !!",
  	})
  		.then(function (message) {
  		alert("OTP sent successfully")
  		});
  	}
  </script> -->

<!-- ========================================= -->

</head>

<body>
  <center>
    <div class="jumbotron jumbotron">

        <div class="jumbotron jumbotron-fluid">
          <div class="container">

            <div class="alert alert-danger" role="alert">
              <a href="https://github.com/imvickykumar999/imvickykumar999/blob/4e143cc2285d0aceab1c7e7b8a95eaa4c42c7b67/templates/yourquotes.html#L49">
                <!-- <h1>
                  <p>Firebase Chatting Code on GitHub</p>
                </h1> -->

                <h1 style="color:red;">
                  <strong>
                    Your Quotes
                    <br>
                    <em style="color:green;">See Code on GitHub</em>
                  </strong>
                </h1>

              </a>
            </div>
          </div>
        </div>

        <div class="alert alert-success" role="alert">
          <a target="_blank" href="https://home-automation-336c0-default-rtdb.firebaseio.com/Views">
            <h1>
              <strong>
                Page Views = {{pageviews}}
              </strong>
            </h1>
          </a>
        </div>

        <br>
          <form method="post" action="/converted_yourquotes">
            <div class="alert alert-light" role="alert">
            <!-- <div class="jumbotron jumbotron-fluid"> -->

            <br>
              <div class="alert alert-primary" role="alert">

                <a target="_blank" href="https://api.whatsapp.com/send?phone=918239957923&text=What%20is%20Credential%20to%20write%20quotes?">
                  <h2 style="color:blue;">
                    <strong>
                      Click me to <br> Ask Vicky, and <br><br> Enter Credentials
                    </strong>
                  </h2>
                </a>

                <br>
                <input type="password" name="credentials" placeholder="Due to Security Reason"/>
                <br><br>
              </div>

              <br>
              <div class="alert alert-danger" role="alert">
                <a target="_blank" href="/vicksmail">
                  <h2 style="color:red;">
                    <strong>
                      Click me to <br> Open it in New Tab <br>and<br> Get OTP
                    </strong>
                  </h2>
                </a>

                <br>
                <input type="text" name="otp" placeholder="Enter OTP"/>
                <br><br>
              </div>

              <br>
              <div class="alert alert-warning" role="alert">
                <h3>
                  <strong>Enter Your <br> Quote / Poem / Story </strong>
                </h3>
                <br>

                <!-- <input type="text" name="message" placeholder="Let's Start Healthy Conversation"/> -->
                <textarea name="message" id="result1" rows="10" cols="60"> </textarea>

                <br><br>
                <div class="alert alert-light" role="alert">
                  <h2 style="color:red;">
                    <strong>
                      Voice Typing feature
                      <br>
                      works best on Laptop
                    </strong>
                  </h2>
                  <br><br>

                  <div class="alert alert-success" role="alert">
                    <h4>Click me to <strong>START</strong> speaking...</h4>
                    <button type = "button" onclick="startConverting();">
                      <i class="fa fa-microphone"></i>
                    </button>
                  </div>

                  <div class="alert alert-danger" role="alert">
                    <h4>Click me to <strong>TURN OFF</strong> mic...</h4>
                    <button type = "button" onclick="stopConverting();">
                      <i class="fa fa-remove">
                      </i>
                    </button>
                  </div>
                </div>

                <script type="text/javascript">

                  var overlay = document.getElementById("overlay");

                    var r = document.getElementById('result1');
                    var speechRecognizer = new webkitSpeechRecognition();// a new speech recognition object

                    //function to start listening to voice and then convert it to text
                    function startConverting () {
                      if('webkitSpeechRecognition' in window){

                        speechRecognizer.continuous = true;
                        speechRecognizer.interimResults = true;
                        speechRecognizer.lang = 'en-IN';
                        speechRecognizer.start();

                        var finalTranscripts = '';
                        speechRecognizer.onresult = function(event){
                          var interimTranscripts = '';

                          for(var i = event.resultIndex; i < event.results.length; i++){
                            var transcript = event.results[i][0].transcript;
                            transcript.replace("\n", "<br>");

                            if(event.results[i].isFinal){
                              finalTranscripts += transcript;
                            }

                            else{
                              interimTranscripts += transcript;
                            }
                          }
                          r.value = finalTranscripts + interimTranscripts ;
                        };
                        speechRecognizer.onerror = function (event) {
                        };
                      }

                      else{
                        r.innerHTML = 'No browser support. Please upgrade your browser';
                      }
                    }

                    //function to stop listening
                    function stopConverting()
                    {
                      speechRecognizer.stop();
                    }

                  </script>
                <br>
              </div>

              <!-- <div class="alert alert-danger" role="alert"> -->
                <input type="image"
                       src="../static/logo/submit.png"
                       width="200"
                       height="60"
                       alt="submit"/>
              <!-- </div> -->

          </div>
          <br><br>
        </form>
      </div>

      <!-- <div id="vickscroll">
        {% if scroll %}
        <script>
            document.location.hash = '#' + '{{ scroll }}';
        </script>
        {% endif %}
      </div>
      <br> -->

      <br>
      <div class="jumbotron jumbotron">

        <a class="btn btn-success"
        data-toggle="collapse"
        href="#collapseExample"
        role="button">

        <h1 style="color:black">
          Click me to
          <br>
          Unfold Quotes
        </h1>
        </a>

      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <div class="container">
            <br>

            {% for key, values in data.items() %}
              <div class="alert alert-warning" role="alert">
              <!-- <div class="jumbotron jumbotron-fluid"> -->
              <br>
                <div class="alert alert-primary" role="alert">
                  <h1 style="color:blue">
                    <strong><em>{{key}}</em></strong>
                  </h1>
                </div>
                <br>

                {% for subkey, subvalues in values.items() %}
                  <div class="alert alert-light" role="alert">

                    <br>
                    <div class="alert alert-danger" role="alert">
                      <h1 style="color:red">
                        {{subkey}}
                      </h1>
                    </div>

                    {% for subkeysub, subvaluesub in subvalues.items() %}
                    <tr>

                       <td>
                         <div class="alert alert-success" role="alert">
                           <h1>
                             <strong>

                               <div style="white-space: pre-line">
                                 {{subvaluesub}}
                               </div>

                             </strong>
                           </h1>
                         </div>
                       </td>

                       <th>
                         <div class="alert alert-primary" role="alert">
                           <h2>- by {{subkeysub}}</h2>
                         </div>
                       </th>

                    </tr>
                    {% endfor %}

                  </div>
                  <br><br><br><br><br>
                {% endfor %}

              </div>
              <br><br>

              <div class="alert alert-light" role="alert">
                <a target="_blank" href="https://console.firebase.google.com/u/0/project/chatting-c937e/database/chatting-c937e-default-rtdb/data">
                  <h1 style="color:red">
                    <strong>
                      <em>
                        The Next Day
                      </em>
                    </strong>
                  </h1>
                </a>
              </div>

            <br><br>
            {% endfor %}

          </div>
        </div>
      </div>

      <a class="btn btn-danger"
      data-toggle="collapse"
      href="#collapseExample"
      role="button">

      <h1 style="color:black">
        Click me to
        <br>
        Fold Quotes
      </h1>
      </a>

    </div>

    <div class="jumbotron jumbotron">

      <a class="btn btn-primary"
      data-toggle="collapse"
      href="#api"
      role="button">

      <h1 style="color:black">
        Click me to
        <br>
        See API
      </h1>
      </a>

    <div class="collapse" id="api">
      <div class="card card-body">
        <div class="container">
          <br>
          <h4 style="color:blue">
            {{data}}
          </h4>
        </div>
      </div>
    </div>
  </div>

  </center>
</body>
</html>

{% endblock %}
